/* 
    Document   : style
    Created on : Jan 15, 2013, 6:16:21 PM
    Author     : Fabian Mettler <mettler.fabian@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

.text-label {
    padding-top: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    display: block;
    margin-bottom: 5px;
    cursor: inherit;
}

.form-btn-toolbar {
    margin-top: 0;
}

.chart{
    width:410px;
    height:200px;
}

.chart-group{
    clear: both;
}

.chart-group h1{
    font-size:1.4em;
    margin-top:1em;
    margin-bottom:0;
}

.chart-subsection{
    clear: both;
}

.chart-subsection h1{
    font-size:1.2em;
}

.chart-container{
    float:left;
    display:block;
    margin:1em;
    
}

.chart-container h1{
    font-size:1.1em;
    border-bottom: 1px solid #eeeeee;
    margin-top:0;
    margin-bottom:0.5em;
}

textarea{
    width:750px;
    height:200px;
}

input.full-width{
    width:750px;
}

.control-label.script{
}

label.control-label.script.inactive{
    color:#999;
}

h1 a,h1 a:hover{
    text-decoration: none;
    color:inherit;
}

.log-line{
    padding:5;
}

.log-line.even{
    background-color:#EEE;
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
    
}

.log-line.escalated{
    background-color:#FDD;
    border-top:1px solid #DAA;
    border-bottom:1px solid #DAA;

}

.log-datum{
    display:inline-block;
    width:100px;
    overflow:hidden;
    overflow-y: hidden;
    text-align: center;
}

.log-header .log-datum{
    font-weight: bold;
}

#logContainer {
    max-height: 400px;
    overflow: auto;
}

.snapshot-datum-label{
    float:left;
    width:150px;
    text-align:right;
    padding-right:1em;
}

.snapshot-datum-entry{
    width:250px;
    float: left;
}

.snapshot-datum-group{
    margin-bottom:0.5em;
}

.yAxis .tickLabel{
    white-space: nowrap;
}

.server-instance-select{
    display: block;
    max-height: 8.5em;
    overflow-y: auto;
    overflow-x: visible;
}

.server-instance-select span{
    display:inline-block;
    float:left;
    white-space: nowrap;
    margin:0.2em;
    vertical-align:top;
    width:10em;
}

.server-instance-select input, input.checkbox{
    margin:0px;
    margin-right:0.2em;
    background: none !important;
    border: none !important;
}

.server-instance-select label{
    vertical-align:top;
    display:inline-block;
}